@{
    ViewBag.Title = "JQuery DataTables y .Net";
}

<div class="jumbotron">
    <h1>JQuery DataTables y .Net</h1>
    <p class="lead">En este sitio se incluyen ejemplos de integración de <a href="https://datatables.net/" target="_blank">Jquery DataTables</a> con .NET.</p>
    <p>
        Todo el contenido de este sitio, con ejemplos, esta disponible en <a href="https://github.com/llorentegerman/DatatablesNet" target="_blank">GitHub</a>:
        <a href="https://github.com/llorentegerman/DatatablesNet" target="_blank"
           style="padding-top: 0px !important; padding-bottom: 0px !important;">
            <img src="~/Content/Images/GitHub/GitHub-Mark-32px.png" />
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ejemplos básicos</h2>
        <ul class="">
            <li>@Html.ActionLink("Ejemplo 1 - De Lista a Tabla", "Index", "Datatables")</li>
            <li>@Html.ActionLink("Ejemplo 2 - Creación de columnas desde el modelo", "Ejemplo2", "Datatables")</li>
            <li>@Html.ActionLink("Ejemplo 3 - Posición de las columnas", "Ejemplo3", "Datatables")</li>
            <li>@Html.ActionLink("Ejemplo 4 - Botones", "Ejemplo4", "Datatables")</li>
            <li>@Html.ActionLink("Ejemplo 5 - Columnas ocultas", "Ejemplo5", "Datatables")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ejemplos Server Side</h2>
        <ul class="">
            <li>@Html.ActionLink("Ejemplo 6 - Paginado", "Ejemplo6", "Datatables")</li>
            <li>@Html.ActionLink("Ejemplo 7 - Búsqueda y Ordenamiento", "Ejemplo7", "Datatables")</li>
            <li>@Html.ActionLink("Ejemplo 8 - Búsqueda y Ordenamiento Genéricos", "Ejemplo8", "Datatables")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Ejemplos Avanzados</h2>
        <ul class="">
            <li>Próximamente</li>
        </ul>
    </div>
</div>