<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Germán Llorente</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link href="~/Content/prismjs/prism.css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
    
    @RenderSection("headSection", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("JQuery DataTables", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
                           aria-expanded="false">Básico<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ejemplo 1 - De Lista a Tabla", "Index", "Datatables")</li>
                            <li>@Html.ActionLink("Ejemplo 2 - Creación de columnas desde el modelo", "Ejemplo2", "Datatables")</li>
                            <li>@Html.ActionLink("Ejemplo 3 - Posición de las columnas", "Ejemplo3", "Datatables")</li>
                            <li>@Html.ActionLink("Ejemplo 4 - Botones", "Ejemplo3", "Datatables")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Server Side<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ejemplo 5 - Server Side, Paginado", "Ejemplo5", "Datatables")</li>
                            <li>@Html.ActionLink("Ejemplo 2 - Creación de columnas desde el modelo", "Ejemplo2", "Datatables")</li>
                            <li>@Html.ActionLink("Ejemplo 3 - Posición de las columnas", "Ejemplo3", "Datatables")</li>
                            <li>@Html.ActionLink("Ejemplo 4 - Botones", "Ejemplo3", "Datatables")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Autor", "About", "Home")</li>
                    <li>
                        <a href="https://github.com/llorentegerman/DatatablesNet" target="_blank"
                           style="padding-top: 7px !important; padding-bottom: 0px !important;">
                            <img src="~/Content/Images/GitHub/GitHub-Mark-Light-32px.png" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Germán Llorente</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

    <script src="~/Content/prismjs/prism.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
